<div class="header">
  <div class="header-left">
    <button mat-icon-button (click)="onToggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div class="header-right" *ngIf="teacher$ | async as teacher">
    <div class="department-badge">
      <mat-icon>domain</mat-icon>
      <span>{{ teacher.departmentName }}</span>
    </div>

    <button mat-icon-button class="notification-btn">
      <mat-icon>notifications</mat-icon>
      <span class="badge">3</span>
    </button>

    <div class="user-profile">
      <div class="user-info">
        <span class="name">{{ teacher.teacherName }}</span>
        <span class="role">{{ teacher.role }}</span>
      </div>
      <div class="avatar">
        {{ teacher.teacherName.charAt(0) }}
      </div>
    </div>
  </div>
</div>
